@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

body {
  background-color: #e8e8e8;
  text-align: center;
  font-family: "Racing Sans One", sans-serif;
}

#title {
  height: 160px;
  width: 100;
}

#puzzle {
  height: 510px;
  width: 510px;
  background-color: #808080;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 15px solid #f5a7a6;
  border-radius: 20px;
}

#puzzle img {
  width: 168px;
  height: 168px;
  border: 1px solid gray;
}

#info {
  display: flex;
  justify-content: space-around;
}



